.form {
	font-family: 'Inter', sans-serif;
	display: grid;
	grid-template-rows: 1fr auto;
	row-gap: 65px;
	color: #D3D3D3;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	row-gap: 15%;
	background-color: transparent;
	&-item {
		position: relative;
	}
	label {
		display: block;
		font-size: 14px;
		position: absolute;
		width: 50%;
		height: 50%;
		pointer-events: none;
		z-index: 3;
		transition: 0.2s;
		top: 0;
		left: 0;
	}

	input {
		box-sizing: border-box;
		width: 100%;
		background: transparent;
		border: none;
		border-bottom: 1px solid #D3D3D3;
		position: relative;
		z-index: 2;
		padding: 2% 0;
		height: 40px;
		color: #fff;
		font-family: Inter;
		font-size: 16px;
		&:focus {
			outline: none;
		}
		&[value=""] ~ label,
		&:not(:focus) ~ label
		& ~ label {
			top: 0%;
			left: 0%;
		}
		&:focus ~ label,
		&:not([value=""]) ~ label{
			top: -40%;
			left: 0%;
			color: #fff;
			outline: none;
		}
	}
}