.header {
	position: fixed;
	padding-top: 27px;
	padding-bottom: 28px;
	width: 100%;
	box-sizing: border-box;
	background-color: transparent;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	z-index: 9999;
	transition: all 0.5s ease-out;
	&__menu {
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding-inline-start: 0 !important;
		&__item {
			text-decoration: none;
			position: relative;
			color: #BAB9B9;
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 2px;
				top: 25px;
				bottom: 0;
				left: 0;
				background-color: white;
				transform-origin: bottom left;
				transition: transform 0.25s ease-out;
			}
			&:hover {
				color: white;
				&::after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}
		}
	}
	&__auth {
		display: flex;
		justify-content: flex-end;
	}

	&-active {
		background-color: rgba(17,27,38, 0.65);
	}
}

.hamburger {
    display: none;
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    width: 40px;
    height: 10px;
    z-index: 2;
    span {
        display: block; 
        height: 3px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 6px;
        transition: 0.5s all;
    }
    &-active {
        span {
            margin-bottom: -2px ;
            &:nth-child(1){
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: translateY(3px) rotate(45deg);
            }
        }
    }
}