@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@font-face {
  font-family: "itc_avant_garde_gothic_stdBk";
  src: url("../assets/font/itcavantgardestd-bk-webfont.woff2") format("woff2"), url("../assets/font/itcavantgardestd-bk-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "itc_avant_garde_gothic_stdBk";
  src: url("../assets/font/itcavantgardestd-bk-webfont-medium.woff2") format("woff2"), url("../assets/font/itcavantgardestd-bk-webfont-medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "itc_avant_garde_gothic_stdBk";
  src: url("../assets/font/itcavantgardestd-bk-webfont-bold.woff2") format("woff2"), url("../assets/font/itcavantgardestd-bk-webfont-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "itc_avant_garde_gothic_stdBk", sans-serif;
  margin: 0;
}
body a {
  text-decoration: none;
}
body button[type=submit] {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

header, section, footer {
  padding: 0 80px;
}

main {
  background: #F3F4F6;
}

.center {
  text-align: center;
}

.header {
  position: fixed;
  padding-top: 27px;
  padding-bottom: 28px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s ease-out;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0 !important;
}
.header__menu__item {
  text-decoration: none;
  position: relative;
  color: #BAB9B9;
}
.header__menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 25px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.header__menu__item:hover {
  color: white;
}
.header__menu__item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header__auth {
  display: flex;
  justify-content: flex-end;
}
.header-active {
  background-color: rgba(17, 27, 38, 0.65);
}

.hamburger {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 10px;
  z-index: 2;
}
.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 6px;
  transition: 0.5s all;
}
.hamburger-active span {
  margin-bottom: -2px;
}
.hamburger-active span:nth-child(1) {
  transform: translateY(3px) rotate(-45deg);
}
.hamburger-active span:nth-child(2) {
  display: none;
}
.hamburger-active span:nth-child(3) {
  transform: translateY(3px) rotate(45deg);
}

.button {
  display: inline-block;
  padding: 13px 32px;
  border-radius: 100px;
  cursor: pointer;
}
.button-outlined {
  background-color: transparent;
  border: 1px solid #CECECE;
  color: #CECECE;
}
.button-yellow {
  border: none;
  background: #F0E714;
}
.button-black {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #24272E;
  color: #F0E714;
  padding: 14px 34px;
  border: none;
}
.button-black svg {
  margin-left: 10px;
  margin-top: 2px;
  width: 15px !important;
  height: 10px !important;
}
.button-black #Vector {
  fill: #F0E714;
}

.hero {
  background-color: #101C26;
  background-image: url(../assets/img/background.png);
  height: 100%;
}
.hero__wrapper {
  padding-top: 10%;
  padding-bottom: 2%;
  color: #F3F4F6;
  display: grid;
  grid-template-columns: minmax(200px, 550px) 1fr;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 80px;
}
.hero__descr {
  position: relative;
}
.hero__descr > img {
  position: absolute;
  top: 35%;
  left: 85%;
}
.hero__img {
  width: 100%;
  position: relative;
}
.hero__img img {
  max-width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: -20%;
  z-index: 2;
}
.hero__img img:nth-child(2) {
  position: absolute;
  width: 200px;
  height: 235px;
  top: 45%;
  left: 10%;
}
.hero__img img:nth-child(3) {
  position: absolute;
  width: 12px;
  height: 12px;
  top: -7%;
  left: 22%;
}
.hero__img img:nth-child(4) {
  position: absolute;
  width: 170px;
  height: 170px;
  top: -2%;
  left: 88%;
  z-index: 1;
}
.hero__logos {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero__title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0.6px;
  margin-bottom: 24px;
}
.hero__subtitle {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 32px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}
.hero__buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 36px;
  margin-right: 25px;
}
.hero__buttons > button img {
  margin-left: 10px;
}
.hero__buttons__play {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #F3F4F6;
}
.hero__buttons__play img {
  margin-right: 10px;
}
.hero__stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero__stats__item {
  text-align: center;
}
.hero__stats__item__number {
  font-size: 44px;
  font-weight: bold;
  color: #F0E714;
  margin-bottom: 10px;
}

.about-us {
  margin-top: 140px;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.about-us__img {
  width: 100%;
  max-height: 100%;
  position: relative;
}
.about-us__img img {
  width: 100%;
  height: 100%;
}
.about-us__img img:nth-child(1) {
  position: relative;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.about-us__img img:nth-child(2) {
  position: absolute;
  width: 182px;
  height: 182px;
  top: 64%;
  left: -9%;
  z-index: 1;
}
.about-us__descr {
  padding: 15px 0;
}

.ellipse {
  border-radius: 1000px;
  display: inline-block;
  background: rgba(240, 231, 20, 0.2);
  padding: 10px 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.title {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 16px;
  white-space: pre-line;
  line-height: 56px;
}
.title-fz20 {
  font-size: 20px;
  margin-bottom: 2px;
  line-height: 32px;
}
.title-fz34 {
  font-size: 34px;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #555C68;
  margin-bottom: 40px;
  line-height: 30px;
  white-space: pre-line;
}
.subtitle-fz16 {
  font-size: 16px;
}
.subtitle-fz18 {
  font-size: 18px;
}
.subtitle-fz14 {
  font-size: 14px;
}

.why-choose {
  margin-top: 140px;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.why-choose__img {
  position: relative;
}
.why-choose__img img {
  width: 100%;
  height: 750px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.why-choose__img img:nth-child(1) {
  position: relative;
  z-index: 2;
}
.why-choose__img img:nth-child(2) {
  position: absolute;
  top: 83%;
  left: 78%;
  width: 182px;
  height: 182px;
  z-index: 1;
}
.why-choose__list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.why-choose__list-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.why-choose__list-item__img {
  background: #24272E;
  border-radius: 100%;
  height: 100%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.services {
  margin-top: 140px;
}
.services__about {
  text-align: center;
  margin-bottom: 80px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  gap: 30px;
  padding-bottom: 5%;
}
.services__list-item {
  background-color: #fff;
  box-sizing: border-box;
  padding: 32px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.services__list-item .title {
  white-space: pre-line;
}
.services__list-item .subtitle {
  margin-top: auto;
  margin-bottom: 0;
}
.services__list-item__img {
  margin-bottom: 24px;
}
.services__list-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 30px 50px -10px rgba(152, 151, 151, 0.37);
}

.projects {
  margin-top: 140px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.projects__carousel {
  width: 50%;
  padding: 0 80px;
  box-sizing: border-box;
}
.projects__carousel__wrapper {
  display: flex;
  justify-content: space-between;
}
.projects__carousel-slide {
  width: 100%;
}
.projects__carousel-slide__img {
  width: 90%;
  margin-bottom: 40px;
}
.projects__carousel-slide__img img {
  width: 100%;
}
.projects__carousel-slide__subtitle {
  font-weight: 500;
  margin-bottom: 16px;
}
.projects__carousel-slide__descr {
  width: 90%;
  display: inline-block;
}
.projects__carousel-slide__descr a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  margin: 0;
  margin-right: 10px;
}
.projects__carousel-slide__descr img {
  width: 15px;
  height: 10px;
}
.projects__header {
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 58px;
}
.projects__header .title {
  margin-bottom: 0;
}
.projects__arrows {
  display: flex;
  justify-content: space-between;
}
.projects__arrows img {
  display: block;
}
.projects__arrows-prev {
  margin-right: 12px;
  transform: scaleX(-1);
}

.feedbacks {
  margin-top: 140px;
}
.feedbacks__header {
  margin-bottom: 80px;
}
.feedbacks__carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.feedbacks__carousel__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  transition-property: transform;
}
.feedbacks__carousel-slide {
  text-align: center;
  max-width: 500px;
  padding: 32px 60px;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
}
.feedbacks__carousel-slide__name {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  margin-bottom: 16px;
}
.feedbacks__carousel-slide__role {
  font-family: Inter;
  font-size: 12px;
  color: #8791A0;
  margin-bottom: 4px;
}
.feedbacks__carousel-slide__stars {
  margin-bottom: 20px;
}
.feedbacks__carousel-slide__text {
  font-family: Inter;
  font-size: 20px;
  color: #555C68;
  line-height: 30px;
}
.feedbacks__carousel-slide__text::after {
  content: "";
  display: inline-block;
  background: url("../../assets/icons/quote-after.svg") no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  width: 30px;
  height: 30px;
  left: 30px;
  top: 12px;
}
.feedbacks__carousel-slide__text::before {
  content: "";
  display: inline-block;
  background: url("../../assets/icons/quotes.svg") no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  left: -15px;
  top: 2px;
  width: 30px;
  height: 30px;
}
.feedbacks__carousel-pagination {
  margin-top: 80px;
  text-align: center;
}
.feedbacks__carousel-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}
.feedbacks__carousel-pagination .swiper-pagination-bullet-active {
  transform: scale(1.3);
  background-color: #101C26;
}

.contact-us {
  margin-top: 140px;
  background-color: #fff;
}
.contact-us__wrapper {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-us__title {
  font-size: 34px;
  line-height: 44px;
  font-weight: 500;
}
.contact-us__subtitle {
  font-size: 16px;
  line-height: 24px;
}
.contact-us__about {
  width: 100%;
  box-sizing: border-box;
  padding: 60px 66px 76px 44px;
}
.contact-us__about__addr {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 24px;
}
.contact-us__about__addr__text {
  white-space: pre-line;
  color: black;
}
.contact-us__about__addr-item {
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.contact-us__about__addr-item:nth-child(2) svg {
  margin-left: 2px;
}
.contact-us__about__addr-item svg {
  margin-right: 12px;
}
.contact-us__form {
  padding: 90px 140px 60px 80px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background: #101C26;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10%;
}
.contact-us__form-button {
  display: flex;
  flex-direction: column;
}
.contact-us__form-button button {
  margin-top: auto;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  width: 35%;
}

.footer {
  background: #101C26;
  padding-top: 80px;
  padding-bottom: 57px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: minmax(150px, 350px) 1fr;
  grid-template-rows: 1fr 5px;
  row-gap: 65px;
  -moz-column-gap: 15%;
       column-gap: 15%;
}
.footer__about img {
  margin-bottom: 20px;
}
.footer__item__title {
  color: #F5F5F5;
  margin-bottom: 24px;
}
.footer__item__links {
  display: flex;
  flex-direction: column;
}
.footer__item__links a {
  color: #B3B3B3;
  font-family: Inter;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer__item__links a:last-child {
  margin-bottom: 0;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.footer__descr {
  color: #F5F5F5;
  font-family: Inter;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer__social {
  display: flex;
  justify-content: start;
}
.footer__addr {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 30px;
}
.footer__addr svg {
  margin-right: 8px;
  margin-top: 2px;
}
.footer__addr__text {
  color: #B3B3B3;
  font-family: Inter;
  font-size: 16px;
}
.footer hr {
  border-color: #989898;
}

.modal__overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form {
  padding: 5%;
}
.modal form label {
  left: -65px;
}
.modal form input[value=""] ~ label, .modal form input:not(:focus) ~ label .modal form input ~ label {
  top: 0%;
  left: -65px;
}
.modal form input:focus ~ label, .modal form input:not([value=""]) ~ label {
  top: -40%;
  left: -65px;
  color: #fff;
  outline: none;
}
.modal main {
  background: #101C26;
}

.modal__container {
  background-color: #101C26;
  padding: 30px;
  width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 10px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.modal__title {
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #F3F4F6;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  color: #F3F4F6;
  border: 0;
}

.modal__header .modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
Demo Animation Style
 \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.form {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 65px;
  color: #D3D3D3;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 15%;
  background-color: transparent;
}
.form-item {
  position: relative;
}
.form label {
  display: block;
  font-size: 14px;
  position: absolute;
  width: 50%;
  height: 50%;
  pointer-events: none;
  z-index: 3;
  transition: 0.2s;
  top: 0;
  left: 0;
}
.form input {
  box-sizing: border-box;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #D3D3D3;
  position: relative;
  z-index: 2;
  padding: 2% 0;
  height: 40px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
}
.form input:focus {
  outline: none;
}
.form input[value=""] ~ label, .form input:not(:focus) ~ label .form input ~ label {
  top: 0%;
  left: 0%;
}
.form input:focus ~ label, .form input:not([value=""]) ~ label {
  top: -40%;
  left: 0%;
  color: #fff;
  outline: none;
}

@media screen and (max-width: 1300px) {
  .title {
    font-size: 35px;
  }
  .title-fz20 {
    font-size: 18px;
  }
  .subtitle {
    font-size: 18px;
  }
  .subtitle-fz16 {
    font-size: 14px;
  }
  .why-choose__list-item__img {
    padding: 6px;
  }
  .projects__carousel {
    width: 55%;
  }
  .contact-us__about {
    padding: 5%;
  }
  .contact-us__form {
    padding: 10%;
  }
}
@media screen and (max-width: 1110px) {
  .hero__wrapper {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .hero__descr {
    text-align: center;
    margin-bottom: 50px;
  }
  .hero__buttons {
    margin-right: 0;
    justify-content: space-around;
  }
  .hero__descr, .hero__img, .hero__logos {
    width: 100%;
  }
  .hero__img {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .hero__img img {
    right: 0;
  }
  .hero__img img:nth-child(2) {
    top: 55%;
    left: -5%;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 14px;
  }
  .title-fz20 {
    font-size: 18px;
  }
  .subtitle {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .subtitle-fz16 {
    font-size: 14px;
  }
  .about-us__descr {
    padding: 0;
    padding-bottom: 10%;
  }
  .about-us__img img:nth-child(2) {
    height: 110px;
    left: -21%;
    top: 60%;
  }
  .why-choose__img img:nth-child(2) {
    width: 112px;
    height: 110px;
    top: 92%;
    left: 73%;
  }
  .projects__carousel {
    width: 55%;
  }
  .contact-us__about {
    padding: 5%;
  }
  .contact-us__form {
    padding: 10%;
  }
  .footer__wrapper {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .footer__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 950px) {
  header, section, footer {
    padding: 0 30px;
  }
  .hamburger {
    display: block;
  }
  .header__menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 70%;
    left: 100%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(206, 231, 92, 0.8);
    transition: 0.6s all;
    margin: 0;
    z-index: 2;
  }
  .header__menu li {
    margin-bottom: 10%;
  }
  .header__menu__item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
    color: #F3F4F6;
    font-size: 20px;
  }
  .header__menu-active {
    display: flex;
    left: 30%;
  }
  .header .button-outlined {
    border: 1px solid #F3F4F6;
    color: #F3F4F6;
  }
  .header__auth {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80%;
    left: 100%;
    width: 40%;
    transition: 0.6s all;
    z-index: 9999;
  }
  .header__auth button:nth-child(1) {
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
  .header__auth_active {
    display: flex;
    left: 45%;
  }
  .title-fz34 {
    font-size: 25px;
  }
  .form label {
    width: 100%;
  }
  .hero__wrapper {
    padding: 0;
    padding-top: 20%;
  }
  .hero__img img:nth-child(4) {
    top: 75%;
    left: 77%;
  }
  .hero__logos {
    justify-content: center;
  }
  .hero__logos img {
    flex: 0 0 calc(16.66% - 20px);
    padding: 20px;
    margin: 10px;
  }
  .hero__descr > img {
    top: 45%;
  }
  .services__list {
    gap: 20px;
  }
  .services__list-item {
    padding: 20px;
    align-items: center;
  }
  .services__list-item .title {
    white-space: unset;
  }
  .projects__carousel {
    width: 70%;
  }
  .projects__carousel-slide__img {
    width: 80%;
    margin-bottom: 20px;
  }
  .contact-us button {
    width: 100%;
  }
  .why-choose__img img:nth-child(2) {
    left: 65%;
  }
  .why-choose__wrapper {
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 650px) {
  .title-fz34 {
    font-size: 20px;
  }
  .hero__img img:nth-child(4) {
    display: none;
  }
  .hero__stats__item__number {
    font-size: 35px;
  }
  header, section, footer {
    padding: 0 1%;
  }
  .about-us {
    grid-template-columns: auto;
    row-gap: 20px;
  }
  .about-us__img img:nth-child(2) {
    left: -9%;
    top: 69%;
  }
  .header {
    width: 100%;
  }
  .hero__img img:nth-child(2) {
    top: 65%;
    left: 0;
  }
  .why-choose {
    grid-template-columns: auto;
    grid-template-rows: 1fr minmax(200px, 400px);
  }
  .why-choose__descr {
    text-align: center;
  }
  .why-choose__img {
    width: 100%;
  }
  .why-choose__img img {
    height: 100%;
  }
  .why-choose__img img:nth-child(2) {
    display: none;
  }
  .why-choose__list {
    align-items: center;
  }
  .why-choose__list-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .why-choose__list-item__img {
    margin-bottom: 15px;
  }
  .projects__header {
    padding: 0 2%;
  }
  .projects__carousel {
    padding: 0 2%;
    width: 80%;
  }
  .services__list {
    padding: 0 20px;
  }
  .services__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feedbacks__carousel-slide {
    padding: 20px 30px;
    max-width: 320px;
  }
  .contact-us__wrapper {
    grid-template-columns: 1fr;
  }
  .contact-us__wrapper__form-button {
    justify-content: end;
  }
  .contact-us__wrapper button {
    margin-top: 20%;
    margin-bottom: 5%;
  }
  .footer {
    padding: 0 1%;
  }
  .footer__wrapper {
    padding-top: 50px;
    padding-bottom: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 5px;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
  }
  .footer__list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 20px;
  }
}
@media screen and (max-width: 430px) {
  .projects__carousel {
    width: 90%;
  }
  .projects__header {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .feedbacks__carousel-slide {
    padding: 20px;
    max-width: 250px;
  }
  .feedbacks__carousel-slide__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 330px) {
  .feedbacks__carousel-slide {
    max-width: 270px;
  }
  .feedbacks__carousel-slide__text {
    font-size: 16px;
    line-height: 20px;
  }
  .feedbacks__carousel-slide__text::after, .feedbacks__carousel-slide__text::before {
    width: 20px;
    height: 20px;
  }
  .feedbacks__carousel-slide__text::after {
    left: 5px;
    top: 5px;
  }
}