@import './base/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@font-face {
    font-family: 'itc_avant_garde_gothic_stdBk';
    src: url('../assets/font/itcavantgardestd-bk-webfont.woff2') format('woff2'),
         url('../assets/font/itcavantgardestd-bk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'itc_avant_garde_gothic_stdBk';
    src: url('../assets/font/itcavantgardestd-bk-webfont-medium.woff2') format('woff2'),
         url('../assets/font/itcavantgardestd-bk-webfont-medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'itc_avant_garde_gothic_stdBk';
    src: url('../assets/font/itcavantgardestd-bk-webfont-bold.woff2') format('woff2'),
         url('../assets/font/itcavantgardestd-bk-webfont-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'itc_avant_garde_gothic_stdBk', sans-serif;
    margin: 0;
    a {
        text-decoration: none;
    }
    button[type="submit"] {
        font-family: 'Inter', sans-serif;
		font-size: 18px;
    }
}


.container{
    padding: 0 5%;
    overflow: hidden;
}

main {
    background: $color-white;
}

.center {
    text-align: center;
}
.hamburger {
    display: none;
     position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 10px;
    z-index: 2;
    span {
        display: block; 
        height: 3px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 6px;
        transition: 0.5s all;
    }
    &_active {
        span {
            margin-bottom: -2px ;
            &:nth-child(1){
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: translateY(3px) rotate(45deg);
            }
        }
    }
}

@import './blocks/header';
@import './blocks/buttons';
@import './blocks/hero';
@import './blocks/about';
@import './blocks/ellipse';
@import './blocks/titles';
@import './blocks/subtitles';
@import './blocks/why-choose';
@import './blocks/services';
@import './blocks/projects';
@import './blocks/feedbacks';
@import './blocks/contact-us';
@import './blocks/footer';
@import './blocks/modals';
@import './blocks/form';
@import './blocks/media';
